<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.amscopy.mapper.RoleAuthModelMapper">

    <resultMap id="BaseResultMap" type="com.example.amscopy.model.RoleAuthModel">
        <result column="role_code" property="roleCode"/>
        <result column="action" property="action"/>
        <result column="action_name" property="actionName"/>
    </resultMap>

    <insert id="insert" parameterType="com.example.amscopy.model.RoleAuthModel">
        insert into role_auth
            (role_code,action,action_name)
        values
            (#{roleCode},#{action},#{actionName})
    </insert>

    <select id="selectAll" resultMap="BaseResultMap">
        select *
        from role_auth
    </select>


</mapper>